<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 필수: 타임리프용 프론트로 연결 -->
<head>
    <meta charset="UTF-8">
    <title>컨트롤러에서 넘어온 model 처리 방법</title>
</head>
<body>
    <div th:text="${list}">리스트로 넘어온 데이터 확인용</div>
    <hr/><br/>
    <div th:text="${map}">맵으로 넘어온(k,v) 데이터 확인용</div>
    <hr/><br/>
    <div th:text="${dto}">sampleDTO로 넘어온 데이터 확인용</div>
    <hr/><br/>

    <script th:inline="javascript"> // 타임리프에 자바 스크립트 선언 방법

        const list = [[${list}]]    // 모델에서 넘어온 객체를 list 변수에 넣음
        const map = [[${map}]]
        const dto = [[${dto}]]

        // 크롬에 콘솔로 출력 해보자.
        console.log(list)
        console.log(map)
        console.log(dto)

    </script>
</body>
</html>